<%- include('partials/header')%>


  <!-- Main Content -->
  <main class="w3-content">
    <div class="row">
        <h2>Statistics (<a href="https://resources-covid19canada.hub.arcgis.com">arcgis.com</a>) - <%= userRole %></h2>
        <br>
        <iframe id="inlineFrameExample"
            title="Inline Frame Example"
            width="900"
            height="1000"
            src="https://resources-covid19canada.hub.arcgis.com/">
        </iframe>
        
        
    </div>
</main>
<%- include('partials/footer')%>